{% load static %}
{% block content %}
<style>
.toggle{
    margin-top: 5px;
    padding: 10px;
}
button{
    padding: 8px;
    color: white;
    background-color: #3D78AD;
    border: solid black 0px;
    border-radius: 5px;
}
button:hover{
    background-color: #2e5c84;
}
</style>
<div>
    <h3><u>Revisions</u></h3>
    {% for rev in revisions %}            
        <b>Revised:</b> {{ rev.date }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b>Revised By:</b> {{ rev.user }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if rev.data %}
            <span>
                <button class="rev_det">
                    Revision Details
                </button>
                <br/>
                <div class="toggle">
                    {% for k, v in rev.data.items %}
                        <b>{{ k }}:</b> {{ v }}                
                        <br/>
                    {% endfor %}
                </div>
            </span>    
        {% endif %}
        <br/>
    {% endfor %}
</div>

<script src="{% static 'core_app/js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $(".toggle").hide();
        $(".rev_det").click(function(){
            $(this).next().next().toggle()
        });
    });
</script>
{% endblock %}
